.auth-parent {
  background-color: #242531;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left {
  background-color: #E0E0E2;
  width: 40vw;
  height: 100vh;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: #E0E0E2;
}

.reset-form {
  width: 40vh;
  padding: 4vh;
}

.reset-form h2 {
  margin-bottom: 3vh;
  color: #2B2F38;
}

.form-subtitle {
  font-size: 1.8vh;
  margin-bottom: 1vh;
  color: #667085;
}

.form-subtitle2 {
  font-size: 1.8vh;
  margin-bottom: 4vh;
  color: #667085;
}

.reset-form label {
  font-size: 1.8vh;
  display: block;
  margin-bottom: 0.8vh;
}


.input-container {
  position: relative;
  margin-bottom: 2vh;
}

.reset-form input {
  width: 83%;
  padding: 1.5vh;
  font-size: 2vh;
  border: none;
  border-radius: 1vh;
  background-color: white;
  outline: none;
  padding-right: 40px;
}


.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2vh;
  color: #444;
}

.reset-form button {
  width: 100%;
  padding: 1.8vh;
  font-size: 2vh;
  background: #242531;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

.right {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
}

.right-container img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
